body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #ccc;
    text-decoration: none;
    transition: .2s;
}

a:hover {
    color: rgb(243, 146, 0);
}

.container {
    width: 100%;
}

.header-top {
    background-color: rgb(55, 53, 123);
    height: 75px;

}

.header-top-nav {
    position: absolute;
    top: 0;
    right: 0;
}

.header-top-nav ul {
    padding: 0;
    margin: 0;
}

.header-top-nav li {
    display: inline-block;
    list-style-type: none;
    margin-top: 25px;
    padding: 0 15px;
    font-size: 1.2em;
    letter-spacing: 2px;
    border-right: 1px solid #ccc;
}

.header-top-nav li:last-child {
    border: none;
}

.logo-branco {
    height: 70px;
    margin: auto;
    padding: 0 0 0 175px;
}


